.checked-margin {
margin: 0 10px;
 font-family: Tilt;
 font-size: 30px;

  }

 .checkbox-content{
    display: flex;
    justify-content: space-between;
 } 

 .delete-assign{
    background-color: #f39a14;
    margin-left: 1rem;
    /* margin-bottom: 0.5rem; */
    margin-right: 32px;
    align-items: center;
    justify-content: center;
 }

 .container{
   margin: 0rem 1rem 0rem 1rem;
   box-shadow: 12px 15px 17px -8px rgba(243,154,20,0.79);
   -webkit-box-shadow: 12px 15px 17px -8px rgba(243,154,20,0.79);
   -moz-box-shadow: 12px 15px 17px -8px rgba(243,154,20,0.79);
  }

  .edit-elem{
   margin-right: auto;
   margin-bottom: 0.5rem;
   margin-left: 1.5rem;
   background-color: #f39a14;
  }