<main class="container">
  <div class="btnadd-container">
    <button mat-button *ngIf="this.authService.isAdmin" (click)="addAssignment()" class="btnajout">Add assignment</button>
  </div>
    <!-- Page Heading -->
    <h3 class="title" *ngIf="!(this.authService.isAdmin || this.authService.loggedIn)">Welcome to Assignment App</h3>

  <mat-list *ngFor="let assignment of assignments">
    <nav *ngIf="this.authService.isAdmin || this.authService.loggedIn">
      <a routerLink="/assignments/{{assignment.id}}">
        <h3 mat-subheader class="mat-subheader">
          {{ assignment.dateDeRendu | date : "dd/MM/yyyy" }}
        </h3>
        <mat-list-item (click)="assignmentClique(assignment)">
          <p appRendu *ngIf="assignment.rendu; else nonSoumis">
            Devoir intitulé {{ assignment.nom }} a été rendu.
          </p>
          <ng-template #nonSoumis>
            Le devoir intitulé {{ assignment.nom }} n'a pas été rendu.
          </ng-template>
        </mat-list-item>
        <mat-divider></mat-divider>
      </a>
    </nav>
  </mat-list>
</main>
<!-- <app-assignment-detail
  [assignmentTransmis]="assignementSelectionne"
  (deletedAssignment)="ondeletedAssignment($event)"
></app-assignment-detail> -->
