<app-add-assignment (nouvelAssignment)="onNouvelAssignement($event)" *ngIf="formVisible"></app-add-assignment>

<main *ngIf="!formVisible" class="container">
  <button mat-button class="btnajout"
  (click)="onAddAssignmentBtnClick()"
>   Add assignment
</button>

    <mat-list *ngFor="let assignment of assignments">
      <h3 mat-subheader class="mat-subheader">{{assignment.dateDeRendu | date : 'dd/MM/yyyy' }}</h3>
      <mat-list-item (click)="assignmentClique(assignment)">
        <p appRendu *ngIf="assignment.rendu; else nonSoumis">
          Devoir intitulé {{assignment.nom}} a été rendu.
        </p>
        <ng-template #nonSoumis>
          Le devoir intitulé {{assignment.nom}} n'a pas été rendu.
        </ng-template>
      </mat-list-item>
      <mat-divider></mat-divider>
    </mat-list>
    
  </main>
    <app-assignment-detail [assignmentTransmis]="assignementSelectionne" (deletedAssignment)="ondeletedAssignment($event)"></app-assignment-detail>