
.title{
   margin: 14rem auto;
   font-family: Tilt;
   font-size: 5.5rem;
   text-align: center;
 }
p{
    margin: 10px 40px;
}
.form {
    display:flex;
    flex-direction: column;
    margin:3rem 40rem;
 }

 .button-ajouter{
    background-color:#f39a14;
 }

 .mat-subheader {
    background-color: rgba(206, 194, 194, 0.404); 
    font-weight: bold;
    border-radius: 9px;
    width: 12rem;
    text-align: center;

  }

  .container{
   margin-left: 1rem;
  }

  a{
   display: flex;
   flex-direction: column;
   text-decoration: none;
  }

  
  .btnajout:hover{
    background-color: #E5437D;
    color:white !important;
   }
   
   .btnadd-container{
      display: flex;
   }
   
   .btnajout{
    margin: 1rem 2rem 0rem auto;
    background-color:rgba(189, 191, 197, 0.61);
    justify-content: flex-end;
   }
   
   nav {
      margin: 20px 0;
      border: 1px solid #ddd;
      box-shadow: 0 0 10px rgba(0,0,0,0.1);
      border-radius: 10px;
    }
    
    .mat-subheader {
      background-color: #f5f5f5;
      padding: 10px;
      color: #3f51b5;
    }
    
    .mat-list-item {
      padding: 20px;
    }
    
    .mat-list-item p {
      margin: 0;
      line-height: 1.5;
      font-size: 0.9em; /* réduire la taille de la police */

    }
    
    .mat-divider {
      margin: 0;
    }

    .mat-cell{
      font-size: 18px;
    }

    .filters{
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 2.5rem;
      margin-bottom: 0.5rem;
      gap: 2rem;
    }

    .search-icon{
      color: rgba(13, 70, 194, 0.61);
    }

    .header-cell{
      background-color: rgba(189, 191, 197, 0.61) !important;
      font-family: Tilt;
      font-size: 17px;
    }

    .header-first{
      border-radius: 12px 0px 0px 0px!important;
    }

    .header-last{
      border-radius: 0px 12px 0px 0px!important;
    }

    .table-line{
      font-family: Tilt;
    }
    .table-line:hover{
      background-color: #e5437c0c !important;
      transition-duration: 0.3s;
      color: rgb(124, 124, 124);
      cursor: pointer;
    }
  