
.title{
   margin: 14rem auto;
   font-family: Tilt;
   font-size: 5.5rem;
   text-align: center;
 }
p{
    margin: 10px 40px;
}
.form {
    display:flex;
    flex-direction: column;
    margin:3rem 40rem;
 }

 .button-ajouter{
    background-color:#f39a14;
 }

 .mat-subheader {
    background-color: rgba(206, 194, 194, 0.404); 
    font-weight: bold;
    border-radius: 9px;
    width: 12rem;
    text-align: center;

  }

  .container{
   margin-left: 1rem;
  }

  a{
   display: flex;
   flex-direction: column;
   text-decoration: none;
  }

  
  .btnajout:hover{
    background-color: rgb(187, 181, 181);
    color:white !important;
   }
   
   .btnadd-container{
      display: flex;
   }
   
   .btnajout{
    margin: 1rem 2rem 0rem auto;
    background-color:#f39a14;
    justify-content: flex-end;
   }
   
   