
<!-- Toolbar Part-->

<mat-toolbar class="toolbar" *ngIf="!authService.loggedIn">
    <div class="left-part">
        <button mat-icon-button class="icon menu-icon" aria-label="Example icon-button with menu icon" (click)="toggleSideNav($event)">
          <mat-icon class="icon">menu</mat-icon>
        </button>
    </div>
    <div class="right-part">
        <button mat-icon-button class="icon home-icon" aria-label="Example icon-button with home icon" (click)="getHome()">
          <mat-icon class="icon">home</mat-icon>
        </button>
        <button mat-icon-button class="icon account-icon" aria-label="Example icon-button with account_circle icon" (click)="getLog()">
          <mat-icon>account_circle</mat-icon>
        </button>
          <mat-slide-toggle [(ngModel)]="authService.isAdmine || authService.loggedIn" [disabled]="!authService.isAdmine || !authService.loggedIn" class="slide connection-icon"></mat-slide-toggle>

    </div>
</mat-toolbar>
<mat-toolbar class="toolbar" *ngIf="authService.loggedIn">
    <div class="left-part">
        <button mat-icon-button class="icon menu-icon" aria-label="Example icon-button with menu icon" (click)="toggleSideNav($event)">
          <mat-icon class="icon">menu</mat-icon>
        </button>
    </div>
    <div class="right-part">
        <button mat-icon-button class="icon home-icon" aria-label="Example icon-button with home icon" (click)="getHome()">
          <mat-icon class="icon">home</mat-icon>
        </button>
          <mat-slide-toggle [(ngModel)]="authService.isAdmine || authService.loggedIn" [disabled]="!authService.isAdmine || !authService.loggedIn" class="slide connection-icon"></mat-slide-toggle>
        <button mat-icon-button class="icon logOut-icon" aria-label="Example icon-button with exit icon" (click)="LogOut()">
          <mat-icon>exit_to_app</mat-icon>
        </button>

    </div>
</mat-toolbar>

<!-- Sidenav Part-->

<mat-drawer-container class="sidenav-container">
    <mat-drawer mode="side" class="sidenav" [opened]="sidenavState">
      <div class="sidenav-list">
        <button class="sidenav-element">
          <mat-icon class="icons">folder</mat-icon>
          <a routerLink="/home">Liste des devoirs</a>
        </button>
        <button class="sidenav-element" [ngClass]="{ 'disabled-button': !(authService.isAdmine || authService.loggedIn) }">
          <mat-icon>add</mat-icon>
          <a routerLink="/add" [class.disabled-link]="!(authService.isAdmine || authService.loggedIn)">Ajout d'un devoir</a>
        </button>
        <button class="sidenav-element" [ngClass]="{ 'disabled-button': !(authService.isAdmine || authService.loggedIn) }">
          <mat-icon>edit</mat-icon>
          <a href="" [class.disabled-link]="!(authService.isAdmine || authService.loggedIn)">Modification d'un devoir</a>
        </button>
        <button class="sidenav-element" [ngClass]="{ 'disabled-button': !authService.isAdmine }">
          <mat-icon>delete</mat-icon>
          <a href="" [class.disabled-link]="!authService.isAdmine">Suppression d'un devoir</a>
        </button>
        <button class="sidenav-element" [ngClass]="{ 'disabled-button': !authService.isAdmine }">
          <mat-icon>data_usage</mat-icon>
          <a href="" [class.disabled-link]="!authService.isAdmine">Génération de données de test</a>
        </button>
      </div>
    </mat-drawer>
    
    <mat-drawer-content class="sidenav-content">
        <router-outlet></router-outlet>
      
    </mat-drawer-content>
  </mat-drawer-container>

  