
<!-- Toolbar Part-->

<mat-toolbar class="toolbar">
    <div class="left-part">
        <button mat-icon-button class="icon menu-icon" aria-label="Example icon-button with menu icon" (click)="toggleSideNav($event)">
          <mat-icon class="icon">menu</mat-icon>
        </button>
    </div>
    <div class="right-part">
        <button mat-icon-button class="icon home-icon" aria-label="Example icon-button with home icon" (click)="getHome()">
          <mat-icon class="icon">home</mat-icon>
        </button>
        <button mat-icon-button class="icon account-icon" aria-label="Example icon-button with account_circle icon" (click)="getLog()">
          <mat-icon>account_circle</mat-icon>
        </button>
          <mat-slide-toggle [(ngModel)]="authService.isAdmin || authService.loggedIn" [disabled]="!authService.isAdmin || !authService.loggedIn" class="slide connection-icon"></mat-slide-toggle>
        <button mat-icon-button class="icon logOut-icon" aria-label="Example icon-button with exit icon" (click)="LogOut()">
          <mat-icon>exit_to_app</mat-icon>
        </button>

    </div>
</mat-toolbar>

<!-- Sidenav Part-->

<mat-drawer-container class="sidenav-container">
    <mat-drawer mode="side" class="sidenav" [opened]="sidenavState">
      <div class="sidenav-list">
        <button class="sidenav-element" [disabled]="!this.authService.isAdmin">
          <mat-icon class="icons">folder</mat-icon>
          <a routerLink="/home">Liste des devoirs</a>
        </button>
        <button class="sidenav-element" [disabled]="!this.authService.isAdmin">
          <mat-icon>add</mat-icon>
          <a routerLink="/add">Ajout d'un devoir</a>
        </button>
        <button class="sidenav-element" [disabled]="!this.authService.isAdmin">
          <mat-icon>edit</mat-icon>
          <a href="">Modification d'un devoir</a>
        </button>
        <button class="sidenav-element" [disabled]="!this.authService.isAdmin">
          <mat-icon>delete</mat-icon>
          <a href="">Suppression d'un devoir</a>
        </button>
        <button class="sidenav-element" [disabled]="!this.authService.isAdmin">
          <mat-icon>data_usage</mat-icon>
          <a href="">Génération de données de test</a>
        </button>
      </div>
    </mat-drawer>
    <mat-drawer-content class="sidenav-content">
  
        <!-- The part where to add each component with routes -->
        <router-outlet></router-outlet>
      


  
    </mat-drawer-content>
  </mat-drawer-container>

  