<h1>Add assignment</h1>
<div class="stepper-container">
  <mat-vertical-stepper [linear]=true #stepper animationDuration="700">
    <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>Ajouter un devoir</ng-template>
        <mat-form-field appearance="outline">
          <input matInput placeholder="Nom du devoir" name="nom" formControlName="nomDevoir" required>
        </mat-form-field>
        <div>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup">
      <form [formGroup]="secondFormGroup">
        <ng-template matStepLabel>Ajouter le nom de l'auteur</ng-template>
        <mat-form-field appearance="outline">
          <input matInput placeholder="Auteur" name="auteur" formControlName="auteur" required>
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="thirdFormGroup">
      <form [formGroup]="thirdFormGroup">
        <ng-template matStepLabel>Ajouter la matière</ng-template>
        <mat-form-field appearance="outline">
          <mat-label>Matière</mat-label>
          <mat-select formControlName="matiere" required>
            <mat-option *ngFor="let matiere of matieres" [value]="matiere.nom">
              {{matiere.nom}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="fourthFormGroup">
      <form [formGroup]="fourthFormGroup">
        <ng-template matStepLabel>Remarques</ng-template>
        <mat-form-field appearance="outline">
          <textarea matInput placeholder="Remarques" name="remarques" formControlName="remarques"></textarea>
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="fifthFormGroup">
      <form [formGroup]="fifthFormGroup">
        <ng-template matStepLabel>Choisir une date</ng-template>
        <mat-form-field appearance="outline">
          <input matInput [matDatepicker]="picker" placeholder="Date" name="date" formControlName="datedeRendu" required>
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      <h4>You've completed the form</h4>
      <div  class="buttons">
        <button mat-flat-button color="primary" matStepperPrevious>Back</button>
        <button mat-flat-button color="primary" (click)="stepper.reset()">Reset</button>
        <button mat-raised-button color="accent" type="submit" (click)="onSubmit($event)">Valider</button>
      </div>
    </mat-step>
  </mat-vertical-stepper>
</div>