@font-face {
    font-family: Tilt;
    src: url(assets/fonts/TiltNeon-Regular.ttf) format('truetype');
}
@font-face {
    font-family: SingleDay;
    src: url(assets/fonts/SingleDay-Regular.ttf) format('truetype');
}

@import 'ngx-toastr/toastr';

html, body { height: 100%; }
body { margin: 0px; font-family: Roboto, "Helvetica Neue", sans-serif; }